<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="Style.css">

</head>

<body>
    <label>How many are playing?</label>
    <form action="/Logic/CreateGame.php">

        <input type="radio" id="one" name="one" value="1">
        <label for="one">1</label><br>
        <input type="radio" id="two" name="two" value="2">
        <label for="two">2</label><br>
        <input type="radio" id="three" name="three" value="3">
        <label for="three">3</label><br>
        <input type="radio" id="four" name="four" value="4">
        <label for="four">4</label><br>
     
  

        <button type="submit">Submit</button>

     </form>

</body>




</html>