<!DOCTYPE html>
<html>
    <head>

<link rel="stylesheet" href="Style.css">

</head>

<body>

    <form action="/Logic/HealthPoint.php">

        <Label>Hero Damage Taken:</Label><br>
        <input type="number" value="0" name="HeroDamage"><br>
        <Label>Hero Damage Healed:</Label><br>
        <input type="number" value="0" name="HeroHeal"><br>
        <Label>Villain Damage Taken:</Label><br>
        <input type="number" value="0" name="VillainDamage"><br> 
        <Label>Villain Damage Healed</Label><br>
        <input type="number" value="0" name="VillainHeal"><br>
        <button type="submit">Submit</button>

     </form>

</body>




</html>