<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="Style.css">

</head>
<body>
<include src="Header.html"></include>
    <form action="/Logic/HeroSelect.php">
<p>Please select your Hero:</p>
<table style="width:50%">
    <tr>
        <td><button type ="button" value="Spider-Man">Spider-Man</button></td>
        <td><button type ="button" value="Captain Marvel">Captain Marvel</button></td>
        <td><button type ="button" value="Iron Man">Iron Man</button></td>

    </tr>
    <tr>
        <td><button type ="button" value="Black Panther">Black Panther</button></td>
        <td><button type ="button" value="She-Hulk">She-Hulk</button></td>
        <td><button type ="button" value="Wasp">Wasp</button></td>


    </tr>
    <tr>
        <td><button type ="button" value="Ant-Man">Ant-Man</button></td>
        <td><button type ="button" value="Captain America">Captain America</button></td>
        <td><button type ="button" value="Ms. Marvel">Ms. Marvel</button></td>
    </tr>
    <tr>
        <td><button type ="button" value="Thor">Thor</button></td>
        <td><button type ="button" value="Doctor Strange">Doctor Strange</button></td>
        <td><button type ="button" value="Quicksilver">Quicksilver</button></td>

    </tr>
    <tr>
        <td><button type ="button" value="Scarlet Witch">Scarlet Witch</button></td>
        <td><button type ="button" value="Groot">Groot</button></td>
        <td><button type ="button" value="Rocket">Rocket Racoon</button></td>

    </tr>
    <tr>
        <td><button type ="button" value="Star-Lord">Star-Lord</button></td>
        <td><button type ="button" value="Gamora">Gamora</button></td>
        <td><button type ="button" value="Drax">Drax</button></td>

    </tr>

</table>
<br> 

  <button type="submit">Submit</button>

  </form>
  <include src="Footer.html"></include>

</body>




</html>