<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="Style.css">

</head>
<body>
    <form>
    <p>Please select your Villain:</p>
<button type ="button" onclick="">Rhino</button>
<button type ="button" onclick="">Klaw</button>
<button type ="button" onclick="">Ultron</button>
<button type ="button" onclick="">Green Goblin Risky Business</button>
<button type ="button" onclick="">Green Goblin Mutagen Formula</button>
<button type ="button" onclick="">Wrecking Crew</button>
<button type ="button" onclick="">Kang The Conqueror</button>
<button type ="button" onclick="">Crossbones</button>
<button type ="button" onclick="">Absorbing Man</button>
<button type ="button" onclick="">Taskmaster</button>
<button type ="button" onclick="">Zola</button>
<button type ="button" onclick="">Red Skull</button>
<br> 
 <p>Please select your Difficulty:</p>
  <input type="radio" id="Standard" name="standard" value="Standard">
  <label for="standard">Standard Mode</label><br>
  <input type="radio" id="Expert" name="expert" value="Expert">
  <label for="expert">Expert Mode</label><br>
  

  <br>  

  <button type="submit">Submit</button>
    </form>
</body>




</html>